<html>

<head>
    <title>Tic Tac Toe</title>
</head>


<body>
    <h1>Game chooser</h1>
    <h1>Test</h1>

    <div id="user-hello"></div>

    {{game_id|json_script:"game_id"}}

    <script>
        
        const gameId = JSON.parse(document.getElementById('game_id').textContent);

        let url = 'ws://' + window.location.host + '/ws/tictactoe/' + gameId + '/';

        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function (e) {

            const data = JSON.parse(e.data)
            console.log('Data:', data)
            document.querySelector('#user-hello').innerHTML = (data.tester)
        };

    </script>

</body>

</html>